venv/
xgboost/model/XGBoost_model.pkl
service_api/model/XGBoost_model.pkl

xgboost/model/data
xgboost/model/data.py

xgboost/data/cars_processed.csv
xgboost/data/cars.csv
xgboost/data/cars_prep.csv
xgboost/data/cars_db.csv
xgboost/data/on_sale_cars.csv
xgboost/data/on_sale_cars_prep.csv

# Python cache
__pycache__/
*.py[cod]

.DS_Store